*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

navbar{
    height:70px;
    background:#f5f5f5;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    font-size:14px;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:600;
}

.nav-right{
    display:flex;
    gap:25px;
    align-items:center;
}

.give-btn{
    background:#f4c542;
    border:none;
    padding:8px 18px;
    font-weight:bold;
    border-radius:4px;
    cursor:pointer;
}

.hero{
    position:relative;
    min-height:90vh;
    display:flex;
    align-items:center;
    padding-left:8%;
    overflow:hidden;
}


/* ⭐ VIDEO BACKGROUND STYLING ⭐ */
.bg-video{

    /* Makes video behave like background image */
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:-2;
}


.video-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.25);
    z-index:-1;
}


.donation-card{
    width:420px;
    background:#f2efe9;
    padding:35px;
    border-radius:6px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.donation-card h1{
    font-size:32px;
    line-height:1.2;
    margin-bottom:18px;
}

.sub-text{
    font-size:14px;
    color:#444;
    margin-bottom:22px;
}


.toggle-buttons{
    display:flex;
    margin-bottom:20px;
}

.toggle-buttons button{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    background:white;
    cursor:pointer;
}

.toggle-buttons .active{
    background:#f4c542;
    border:none;
}

.outline{
    border-right:none;
}


.amount-box{
    background:white;
    padding:20px;
    border-radius:4px;
}

.amount-box p{
    font-size:14px;
    margin-bottom:15px;
}


.amount-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin-bottom:18px;
}

.amount-grid button{
    padding:12px;
    border:none;
    background:#eee;
    cursor:pointer;
}

.amount-grid .selected{
    background:#f4c542;
    font-weight:bold;
}

.wide{
    grid-column:span 3;
}



.join-btn{
    width:100%;
    background:#f4c542;
    border:none;
    padding:14px;
    font-weight:bold;
    cursor:pointer;
    border-radius:3px;
}

@media(max-width:900px){

    .hero{
        justify-content:center;
        padding:30px;
    }

    .donation-card{
        width:100%;
        max-width:420px;
    }

    .navbar{
        padding:0 20px;
    }

    .nav-links{
        display:none;
    }
}
