html, body{
  margin: 0;
  padding: 0;
  font-family: 'italic';
}

h1{
  text-align: center;
  padding: 20px 0;
}

.container{
  max-width: 1200px;
  margin: 30px auto;
  padding: 0;
}

div{
  margin: 0;
  padding: 0;
}

.c1{
  display: inline-block;
  padding: 120px 0;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 184, 126);
}

.c2{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 120px 0;
  margin: 0px;
  background-color: #8fbbd9;
  
}

.c3{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 120px 0;
  background-color: #7ed9a7;  
}

.c4{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 120px 0;
  background-color: rgb(230, 150, 134);  
}

.c5{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 120px 0;
  background-color: rgb(230, 203, 118);  
}

.c6{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 120px 0;
  background-color: rgb(173, 170, 230);  
}




/* Collapse to full width column */

@media only screen and (max-width: 750px){
  .c4{
    width: 100%;
  }
  .c5{
    width: 100%;
  }
  .c6{
    width: 100%;
  }
}

@media only screen and (max-width: 660px){
  .c2{
    width: 100%;
  }
  .c3{
    width: 100%;
  }
}